/* Perfil */
.card{
	height:auto ;
  	left: 25%;
 	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
.mensajeUsuario{
	padding-left:35%;
}
.card-link{
	color:#000;
	text-align: right ;
	font: italic bold 12px/1px Georgia, serif;
}

.container{
	height: 500px;
	overflow-y:auto;
}

.row{
	padding-left:45%;

	
}
.col-2{
  
 transform: translate(1%, 70%);
}
label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
}
img{
	height:50%;
	width:40%:
}


/* Chat */
.botonEnviarMensaje{
	height:30%;
	width:70%;

}


/* Registro y login */
.form{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
};

/* registro*/
.boton{
	color: #483D8B !important;
	left: 40px;
}

.forma{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-align: center;
	width: 400px;
    margin: 0px 0 0 430px;
};

.alert{
	
}

