body{
	font-family: 'Roboto', sans-serif;
}

.numAmigos{
	padding-left:140px;
	padding-top:65px;
}

.frase{
	padding-top:65px;
}
#nombreUsuario{
	padding-top:5px;
	padding-left:70px;
}
.imagenPerfil{
	padding-left:120px;
	
}

.fondoAzul{
	background-color:#2C393F;
	color: #F9F3EC;
	font-size:18px;
}

.fondoRojo{
	background-color:#EDEDED;
	color: #2C393F;
	font-size:18px;
}

.cumpleaños{
	padding-left: 60px;
}

.sexo{
	padding-left: 120px;
}
.pais{
	padding-left: 160px;
}

.tabla{
	width:70%;
	height:200px ;
	overflow-y:auto;
}

.boton-editar{
	padding-left:5%;
}
