body{
	font-family: 'Roboto', sans-serif;
}

.numAmigos{
	padding-left:140px;
	padding-top:65px;
}

.frase{
	padding-top:65px;
}
#nombreUsuario{
	font-size:30px;
}
.imagenPerfil{
	/*padding-left:35%;*/
	
}

.fondoMorado{
  background-image: linear-gradient(#873EF7,  #377BFA);
  color: #fff !important;
  text-align:center !important;
}

.numeroAmigos{
	text-align:center;
}

.dato{
	color:#873EF7;
	font-size:24px;
	margin:0;
}

.info{
	opacity:0.5;
}

.far {
    font-size: 35px;
    color:#873EF7;
}
.informacion{
	opacity:0.8;
	font-size: 20px;
}
.lapiz {
    font-size: 25px !important;
    margin-top:5px;
}

.fondoAzul{
	background-color:#01418f;
	color: #FFFFFF;
	font-size:18px;
}

.fondoRojo{
	background-color:E2F0F1  !important;
	color: #2C393F;
	font-size:18px;
}

.cumpleaños{
	padding-left: 60px;
}

.sexo{
	padding-left: 120px;
}
.pais{
	padding-left: 160px;
}

.tabla{
	width:100%;
	height:200px ;
	overflow-y:auto;
	margin-left: -14px;
}

.boton-editar{
	padding-left:5%;
}

.imagen-tabla{
	width:65px;
	height:65px;
}

.divUser{
	padding:1% 35%;
}


